<mat-card>
  <mat-card-title>
    Rappresentazione temporale
  </mat-card-title>
  <div>
    <app-graph></app-graph>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>
    Mappa
  </mat-card-title>
  <div 
    id="map-id" 
    leaflet 
    leafletDraw 
    (leafletMapReady)="onMapReady($event)" 
    [leafletOptions]="options" 
    [leafletDrawOptions]="drawOptions"
  >
  </div>
</mat-card>

<div class="container-row">
  <mat-card id="filter-card">
    <mat-card-title>
      Filtra per data
    </mat-card-title>
    <div class="container-row-child">
      <mat-form-field style="padding-right: 20px;">
        <input matInput 
          [matDatepicker]="picker1" 
          placeholder="Scegli data di inizio" 
          [formControl]="dateInitMin" 
          (dateInput)="updateSalesMin($event)"
          (dateChange)="updateSalesMin($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput 
          [matDatepicker]="picker2" 
          placeholder="Scegli data di fine" 
          [formControl]="dateInitMax" 
          (dateInput)="updateSalesMax($event)"
          (dateChange)="updateSalesMax($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="container-row-child">
      <button mat-mini-fab matTooltip="Filtra per data" (click)='verifySales()'>
        <mat-icon style="color: #FFFFFF">search</mat-icon>
      </button>
    </div>
  </mat-card>
  
  <mat-card id="buy-card">
    <mat-card-title>
      Acquista Posizioni
    </mat-card-title>

    <div>
      <p>da mettere il counter qua</p>
      <button mat-fab
              class="fab-button"
              matTooltip="Compra posizioni dentro questa area"
              (click)='submit()'>
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </mat-card>

  <mat-card id="users-card">
    <mat-card-title>
      Utenti
    </mat-card-title>

    <mat-list dense>
      <mat-list-item *ngFor="let user of users">
        <a>
          <button mat-button color="accent">
            {{user.username}}
          </button>
        </a>
      </mat-list-item>
    </mat-list>

  </mat-card>
</div>