<div class="container-dialog">
  <h1 mat-dialog-title>Compra Posizioni</h1>
  <div mat-dialog-content>
    <p>Lista archivi nell'area selezionata</p>
    <mat-list dense>
      <mat-list-item *ngFor="let archive of archives">
        {{archive}}
      </mat-list-item>
    </mat-list>
    <p>Numero a rchivi nell'area selezionata: {{archives.length}}</p>
    <p>Confermare acquisto?</p>
  </div>
  <div mat-dialog-actions>
    <button id="dialog-button1" mat-raised-button (click)='onAnnullaClick()'>Annulla</button>
    <button id="dialog-button2" mat-raised-button (click)='confermaAcquistoPosizioni()'>Conferma</button>
  </div>
</div>